/* main-nav */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&family=Jua&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}
body {
  width: 375px;
  height: 100vh;
  background-color: #ccc;
  font-family: "Alegreya Sans";
  margin: 0 auto;
  box-sizing: border-box;
  font-size: 1.3rem;
}
/* 애니메이션 */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
  .spin {
    animation: spin 10s linear infinite alternate both;  
  }

.main-board {
  background-color: white;
  margin: 1rem;
  padding: 0.5rem;
  display: flex;
  flex-flow: row wrap;
}
.main-post { 
  overflow: hidden;
  box-sizing: border-box;
  width: 50%;
  height: 300px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  margin-top: 1rem;
  /* border: 1px solid black; */
  border: 3px solid white;
  position: relative;
  background: linear-gradient(45deg, #A32CDF, #106AD2);  
  box-shadow: 2px 2px 2px lightgray;
}
.main-post-image {
  background-image: url('https://t1.daumcdn.net/cfile/tistory/2108644A577ADA710F?original');
  background-size: contain;
  width:200px;
  height: 200px;
  border-radius: 50%;
  top: -10%;
  left: 6%;
  transform: translate(50%, 50%);
  position: absolute;
  border: 1px solid lightgray;
}
.image1 {background-image: url('https://t1.daumcdn.net/cfile/tistory/2108644A577ADA710F?original');}
.image2 {background-image: url('https://image.yes24.com/goods/2689473/L');}
.image3 {background-image: url('https://upload.wikimedia.org/wikipedia/en/3/3c/Wonder_World_%28album%29.jpeg');}
.image4 {background-image: url('https://i.ytimg.com/vi/i0mM2mT_loQ/hqdefault.jpg');}
.image5 {background-image: url('https://lh3.googleusercontent.com/proxy/4sJ604wXghZipQ8GIDofkypKd4DzXRKNJ5I414k7xQ-mPbKYhcLxesE5kt0__B5G-SsUpRnWgs7_OD2Hrex_f2R4zYajX9mIqF6abgdBLBoZPedz6WCRMvC_hd77GcJsRAJcueko7daH2PW1zcTNpgK9dWV0xlUlRO74JrM4rfS0rCD297oeqSrlQIuhlA');}
.image6 {background-image: url('https://crownnote.com/sites/default/files/wonder%20girls%20wonder%20party.jpg');}

.main-post-image-hole {
  display: inline-block;
  width:40px;
  height:40px;
  position: absolute;
  border: 2px solid silver;
  background: #106AD2;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.record-needle {
  display: inline-block;
  width: 130px;
  height: 50px;
  position: absolute;
  top:150px;
  left:-170px;
  transition-duration: 1s;
  transform-origin: 100% 100%;
  transform: scaleX(-1);
  transform: rotate(90deg);
}
.main-post:hover > .record-needle {
  transition-duration: 2s;
  transform: rotate(125deg);
  transform-origin: 100% 100%;

}
.main-post:hover > .main-post-image {
  animation: spin 5s linear infinite;
}
.main-post-contents {
  display: flex;
  flex-flow: row wrap;
  width: 275px;
  height:180px;
}
.main-post-title {
  width: 100%;
  background-color: #abc;
}
.main-post-writer {
  width: 30%;
  background-color: #bcd;
}
.main-post-like {
  box-sizing: border-box;
  display: inline-block;
  padding-top: 20px;
  background-color: white;
  padding:20px;
  margin:0;
  color: black;
  border-radius: 20px 0 0 0;
  border: 3px solid white;
  white-space: nowrap;
  line-height: 2rem;
}
.main-post-like,
.main-post-scrap {
  width: 100%;
  text-align: right;
}
.main-post-songTitle {
  display: block;
  font-size: 1.5rem;
}
.main-post-postTitle {
  display: block;
  font-size: 1.4rem;
}
ul {
  list-style-type: none;
}

a {
  display: inline-block;
  color: white;
}
.main-nav {
  line-height: 40px;
  height: 40px;
  font-size: 1.4rem;
  color: white;
  background: linear-gradient(45deg, #A32CDF, #106AD2);  
  bottom: 0;
  position: fixed;
  width:375px;
}
.main-nav-menus {
  display: flex;
  justify-content: space-evenly;
}
