/* main-nav */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&family=Jua&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}
body {
  width: 375px;
  height: 100vh;
  background-color: #ccc;
  font-family: "Alegreya Sans";
  /* font-family: 'Jua'; */
  margin: 0 auto;
  box-sizing: border-box;
  font-size: 1.3rem;
}
.main-board {
  background-color: lightyellow;
  margin: 1rem;
  padding: 0.5rem;
  display: flex;
  flex-flow: row wrap;
}
.main-post {
  background-color: lightblue;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 0.5rem;
}
.main-post-image {
  background-color: black;
  width: 5rem;
  height: 5rem;
}
.main-post-contents {
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  width: 275px;
}
.main-post-title {
  width: 100%;
  background-color: #abc;
}
.main-post-writer {
  width: 30%;
  background-color: #bcd;
}
/* .main-post-date {
  width: 70%;
  background-color: #eee;
} */
.main-post-time {
  width: 70%;
  background-color: #bbb;
}
.main-post-like,
.main-post-scrap {
  width: 100%;
  background-color: #aaa;
  text-align: right;
}
ul {
  list-style-type: none;
}

a {
  display: inline-block;
  color: white;
}
.main-nav {
  line-height: 40px;
  height: 40px;
  font-size: 1.4rem;
  color: white;
  background-color: #1a4789;
  bottom: 0;
  position: fixed;
  width: 375px;
}
.main-nav-menus {
  display: flex;
  justify-content: space-evenly;
}
