*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'Nanum Gothic';
  font-size: 10px;
  color: #fff;
}

body {
  width: 375px;
  margin: 0 auto;
}

.container-box {
  background: linear-gradient(45deg, #a32cdf, #106ad2);
}


.profile-image {
  padding-left: 10px;
  /* width: 15%;
  height: 15%; */
  width: 60px;
  height: 50px;
  vertical-align: middle;
}

.mypage-heading {
  text-align: center;
  padding: 20px;
  font-size: 2rem;
  font-weight: 700;
  /* background-color: #1d4dd1; */
}

.mypage-member-nickname {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.5rem;
  padding-left: 10px;
}

.user-nick-name {
  margin-left: 10px;
  font-weight: 700;
}

.mypage-member-link {
  padding-top: 20px;
  margin: 0 10px;
  background-color: #fff;
  border-radius: 20px 20px 0 0;
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
}

.mypage-member-link li {
  margin-left: 20px;
  line-height: 100px;
}

.mypage-member-link a {
  text-decoration: none;
}

.mypage-member-link a:visited {
  color: inherit;
}

.list-box {
  margin-top: 10px;
  /* border: 2px solid #106AD2; */
  border-radius: 10px;
}

.mypage-member-icon {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 20px;
}

.mypage-member-icon li {
  display: inline-block;
  margin-right: 10px;
}

.mypage-member-icon .user-lank {
  display: flex;
  justify-content: space-around;
  padding: 0 100px;
  margin: 20px 0;
}

.user-info {
  vertical-align: middle;
}

.user-lank {
  margin: 10px 0;
  height: 20px;
}

.user-lank-icon {
  width: 20px;
  height: 20px;
  border: none;
}

.fa-star,
.fa-pen {
  padding: 10px;
  vertical-align: middle;
}

.mypage-home-nav {
  background: linear-gradient(45deg, #a32cdf, #106ad2);
  text-align: center;
  /* position: fixed; */
  width: 375px;
  height: 145px;
  bottom: 0;
}

.mypage-home-nav a {
  padding: 10px;
}

.mypage-home-nav img {
  width: 30px;
  height: 50px;
  margin-top: 50px;
}

.scrap-number,
.posting-number {
  vertical-align: middle;
}