@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&family=Jua&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  /* font-family: 'Alegreya Sans'; */
  font-family: "Jua";
  margin: 0 auto;
  box-sizing: border-box;
  width: 375px;
  height: 100vh;
  font-size: 1.3rem;
}
button:focus {
  outline: none;
  box-shadow: 0 0 2pt 2pt violet;
}
.post-music {
  height: 100%;
  position: relative;
}
.post-music-wrapper {
  width: 300px;
  /* height: 100%; */
  margin: 0 auto;
  text-align: center;
}
.input-search-music:focus,
.post-music-wrapper input:focus,
.post-music-wrapper textarea:focus {
  outline: none;
  box-shadow: 0 0 2pt 2pt violet;
}
.post-music-heading {
  background-color: #1a4789;
  /* background: linear-gradient(45deg, #a32cdf, #106ad2); */
  padding: 17px;
  margin: 0 0 30px;
  font-size: 1.5rem;
  letter-spacing: 2.5px;
  color: #fff;
}
.add-music-btn {
  width: 290px;
  background: linear-gradient(45deg, #a32cdf, #106ad2);
  padding: 15px;
  margin: 20px auto 0;
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  box-shadow: 1.2px 1.2px 2px #444;
  outline-color: #3e86da;
}

.post-title {
  display: inline-block;
  text-align: center;
  padding: 10px;
  width: 270px;
  margin: 15px 0 10px;
  border: none;
  border-bottom: 2px solid #3c90f0;
  font-family: inherit;
  letter-spacing: 1.3px;
  /* border-radius: 5px; */
}
#post-content {
  width: 275px;
  height: 150px;
  resize: none;
  margin: 15px 0;
  border: 2px solid #106ad2;
  border-radius: 10px;
  white-space: pre-line;
  padding: 8px;
  word-wrap: break-all;
  font-family: "Alegreya Sans";
  letter-spacing: 1.3px;
}
.title-show-error {
  font-family: "Alegreya Sans";
  height: 10px;
  font-weight: 700;
  color: tomato;
}
.content-show-error {
  font-family: "Alegreya Sans";
  height: 10px;
  font-weight: 700;
  color: tomato;
}
.btn-wrapper {
  text-align: right;
  padding: 10px;
}
.complete-btn {
  padding: 10px;
  margin: 5px;
  border: 0;
  border-radius: 5px;
  background-color: rgb(173, 171, 171);
  color: #fff;
  font-size: 15px;
  font-family: inherit;
  letter-spacing: 1.3px;
  cursor: default;
  box-shadow: 1px 1px 1px #666;
}

.complete-btn.satisfied:hover {
  background: linear-gradient(45deg, #ff0a6c, #4a3cdb);
  cursor: pointer;
}

.cancel-btn {
  padding: 10px;
  margin: 5px;
  border: 0;
  border-radius: 5px;
  background-color: rgba(236, 100, 100, 0.911);
  color: #fff;
  font-size: 15px;
  font-family: inherit;
  letter-spacing: 1.3px;
  box-shadow: 1px 1px 1px #666;
}

.cancel-btn:hover {
  color: white;
  background: linear-gradient(45deg, #fec194, #ff0061);
}

/* 노래 검색창 */
.search-cover-container {
  display: none;
}
.active {
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.search-music-container {
  background: linear-gradient(
    45deg,
    rgba(163, 44, 223, 0.9),
    rgba(16, 106, 210, 0.9)
  );
  border-radius: 10px;
  width: 300px;
  padding: 15px 0 10px;
  margin: 30px auto 20px;
  text-align: center;
  position: absolute;
  top: 9vh;
  left: 10%;
}
.input-search-music {
  width: 270px;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #888;
  border-radius: 10px;
}
.selected-music {
  margin: 0 auto;
  border: none;
  border-radius: 0 0 10px 10px;
  background-color: rgb(191, 229, 245, 0.7);
  box-shadow: 3px 3px 3px rgb(191, 229, 245, 0.7),
    -3px 3px 3px rgb(191, 229, 245, 0.7);
  width: 285px;
  height: 80px;
  display: flex;
  margin-bottom: 15px;
}
.render-music-thumbnail {
  width: 80px;
  height: 65px;
  margin: 5px 10px 0;
  border-radius: 3px;
  padding-top: 10px;
}
.render-music-title {
  display: inline-block;
  width: 150px;
  padding: 5px 0;
  margin: 15px;
  vertical-align: middle;
  letter-spacing: 1.1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  line-height: 1.2;
  height: 3.6em;
  text-align: left;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.music-lists {
  text-align: center;
}
.music-lists li {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  cursor: pointer;
}
.search-music-thumbnail {
  width: 80px;
  height: 55px;
  margin: 0 5px;
  border-radius: 3px;
}
.search-music-title {
  width: 180px;
  padding: 5px 0;
  margin: 8px 5px 5px;
  vertical-align: middle;
  letter-spacing: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  line-height: 1.2;
  height: 2.5em;
  text-align: left;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  cursor: pointer;
}
.search-music-title:hover {
  background: linear-gradient(45deg, #ff0a6c, #4a3cdb);
}
.search-music-radio {
  display: none;
}
.search-more-btn-wrapper {
  display: none;
}
.showBtn {
  display: flex;
  justify-content: space-around;
}
.previous-page-btn {
  background: url(../image/angle-double-left-solid.svg);
  background-repeat: no-repeat;
  padding: 13px;
  border: none;
}
.next-page-btn {
  background: url(../image/angle-double-right-solid.svg);
  background-repeat: no-repeat;
  padding: 13px;
  border: none;
}
.search-music-cancel {
  background: url(../image/times-circle-regular.svg);
  background-size: cover;
  padding: 8px;
  margin: 2px;
  border: 0;
  border-radius: 5px;
  color: #fff;
  position: absolute;
  top: 5px;
  right: 5px;
}
