@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&family=Jua&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Jua';
  margin: 0 auto;
  box-sizing: border-box;
  width: 375px;
  font-size: 1.3rem;
}

ul {
  list-style-type: none;
}

.posted-page-top {
  margin: 0 auto;
  padding: 20px 10px;
  width: 375px;
  border-radius: 0 0 15px 15px;
  position: relative;
  background: rgb(33, 236, 192);
  background: linear-gradient(45deg, #A32CDF, #106AD2);
}

/* 간단한 게시물정보, 게시글제목, 작성자, 날짜 */
.posted-page-writter-info {
  /* border-radius: 5px; */
  color: black;
  padding: 10px 15px 10px 70px;
  font-size: 1.4rem;
  border-radius: 25px;
  background-color: aliceblue;
  margin-top: 20px;
}

/* 노래명/플레이리스트/앨범자켓 이미지 컨테이너 */
.posted-page-recommendation {
  color: black;
  background-position: 0% 5%;
  background-position: 10% 10%;
  margin: 0 auto;
  margin-top: 15px;
  padding: 8px 15px;
  height: 200px;
}

.posted-page-album {
  top: -10%;
  left: 20%;
  border: 1px solid lightgray;
  position: relative;
  margin-top: 15px;
  display: inline-block;
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url('https://t1.daumcdn.net/cfile/tistory/2108644A577ADA710F?original');
  transition-property: border-radius;
  transition-duration: 1s;
  transition-property: transform;
  border-radius: 10px;
}

.posted-page-album.selected {
  transform: translateX(-41%);
}

.posted-page-song-detail {
  width: 150px;
  height: 200px;
  position: absolute;
  top: 101px;
  right: 8px;
  background-color: aliceblue;
  opacity: 0;
  border-radius: 10px;
  padding: 10px;
  margin-top: 15px;
}
@keyframes panelanime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.posted-page-song-detail.selected {
  opacity: 1;
  animation: panelanime 1s ease-in;
}
.posted-page-youtube-title {
  opacity: 0;
}
.posted-page-bottom {
  position: relative;
  background-color: white;
  color: white;
  width: 375px;
  margin: 0 auto;
}

.posted-page-header {
  margin-bottom: -10px;
  height: 80px;
  width: 375px;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRQF58p4kLtXiv1dcCiCOLsNu0_llb_Dj4Vww&usqp=CAU');
}

.posted-page-title {
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 5px;
}

.posted-page-writter {
  display: inline-block;
  text-align: left;
  width: calc(50% - 5px);
}

.posted-page-time {
  display: inline-block;
  text-align: right;
  width: calc(50% - 5px);
}

/* 게시물 내용 컨테이너 */
.posted-page-content {
  border-radius: 15px;
  background-color: aliceblue;
  color: black;
  margin: 0 auto;
  margin-top: 15px;
  padding: 8px 15px;
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-family: 'Alegreya Sans';
  min-height: 400px;
}

/* 좋아요 스크랩 게시글삭제수정 */
.posted-page-status {
  position: absolute;
  bottom: 10px;
  left: 20px;
  border-radius: 15px;
  margin-top: 15px;
  margin-bottom: 10px;
  color: black;
  font-size: 1.3rem;
  padding: 8px 15px;
  background-color: whitesmoke;
  background: linear-gradient(180deg, #FBC2EB, #A6C1EE);
}

.status-btn,
.post-athor {
  display: inline-block;
  border: 0;
}

.posted-page-scrapNum,
.posted-page-likeNum {
  background-color: transparent;
  font-size: 1.5rem;
  display: inline-block;
  width: 20px;
}

.posted-page-scrapNum {
  margin-right: 20px;
}

.posted-page-likeNum {
  margin-right: 2px;
}

.posted-page-scrapBtn,
.posted-page-likeBtn {
  border: none;
  cursor: pointer;
  background: linear-gradient(180deg, #FBC2EB, #A6C1EE);
  /* color: white; */
  font-size: 1.4rem;
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
}

.posted-page-likeBtn {
  background-image: url(../image/thumbs-up-regular.svg);
  background-repeat: no-repeat;
  vertical-align: super;
}

.posted-page-scrapBtn {
  background-image: url(../image/star-regular.svg);
  background-repeat: no-repeat;
  vertical-align: super;
}

.posted-page-likeBtn.pressed {
  /* background-color: yellowgreen;
  color: black; */
  background-image: url(../image/thumbs-up-solid.svg);
  background-repeat: no-repeat;
  vertical-align: super;
}

.posted-page-scrapBtn.pressed {
  background-image: url(../image/star-solid.svg);
  background-repeat: no-repeat;
  vertical-align: super;
}

.thumb {
  background-image: url('../image/thumbs-up-solid.svg');
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: revert;
}

.posted-page-deleteBtn,
.posted-page-editBtn {
  border: 0;
  padding: 10px;
  background-color: #A32CDF;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.posted-page-deleteBtn:hover,
.posted-page-editBtn:hover {
  transition-duration: 0.3s;
  background-color: #106AD2;
}

.posted-page-editBtn {}

.posted-profile-image {
  position: absolute;
  width: 60px;
  height: 50px;
  left: 15px;
  top: 40px;
}

.like-fakeview1,
.like-fakeview2,
.like-fakeview3 {
  background-image: url(../image/thumbs-up-solid.svg);
  width: 100px;
  height: 100px;
  position: absolute;
  top: 45%;
  left: 60%;
  opacity: 0;
}

.like-fakeview2 {
  top: 57%;
  left: 25%;
}

.like-fakeview3 {
  top: 70%;
  left: 45%;
}

@keyframes fake {
  0% {
    opacity: 0.5;
    transform: translateY(0%);
  }

  25% {
    opacity: 1;
    transform: translateY(-100%);
  }

  50% {
    opacity: 0.5;
    transform: translateY(-200%);
  }

  100% {
    opacity: 0;
    transform: translateY(-300%);
  }
}

.thumbsup {
  animation: fake 1.5s linear;
}

.fake-frame {
  /* background-color: blue; */
  z-index: -10;
  display: inline-block;
  top: 30%;
  left: 24%;
  border: 1px solid lightgray;
  position: absolute;
  margin: 15px 0 0 0;
  border-radius: 10px;
  width: 200px;
  height: 200px;
}